#layui-upload-box{

}
#layui-upload-box li{
    width: 120px;
    height: 100px;
    float: left;
    position: relative;
    overflow: hidden;
    margin-right: 10px;
    border:1px solid #ddd;
}
#layui-upload-box li img{
    width: 100%;
}
#layui-upload-box li p{
    width: 100%;
    height: 22px;
    font-size: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    line-height: 22px;
    text-align: center;
    color: #fff;
    background-color: #333;
    opacity: 0.6;
}
#layui-upload-box li i{
    display: block;
    width: 20px;
    height:20px;
    position: absolute;
    text-align: center;
    top: 2px;
    right:2px;
    z-index:999;
    cursor: pointer;
}

.pannel{
    background-color: #f2f2f2;
    vertical-align: middle;
    line-height: 22px;
    text-align: center;
    padding:30px 0;
    border-radius: 5px;
}

/*图标展示*/
.site-doc-icon{width: 1050px;background-color: #fff}
.site-doc-icon li{cursor:pointer;display: inline-block; vertical-align: middle; width: 127px; height: 105px; line-height: 25px; padding: 20px 0; margin-right: -1px; margin-bottom: -1px; border: 1px solid #e2e2e2; font-size: 14px; text-align: center; color: #666; transition: all .3s; -webkit-transition: all .3s;}
.site-doc-anim li{height: auto;}
.site-doc-icon li .layui-icon{display: inline-block; font-size: 36px;}
.site-doc-icon li .doc-icon-name,
.site-doc-icon li .doc-icon-code{color: #c2c2c2;}
.site-doc-icon li .doc-icon-code xmp{margin:0}
.site-doc-icon li .doc-icon-fontclass{height: 40px; line-height: 20px; padding: 0 5px; font-size: 13px; color: #333; }
.site-doc-icon li:hover{background-color: #f2f2f2; color: #000;}


.custom-row{
    margin:20px 0;
    border:1px solid #ccc;
}
.custom-row .title-box{
    height: 44px;
    margin-bottom: 20px;
}
.custom-row .title-box .title{
    font-size:18px;
    float:left;
    margin-left:20px;
    color: #2F4056;
    line-height: 44px;

}
.custom-row .title-time-box{
    float:right;
    width:200px;
    background-color:#fff;
    margin-top: 10px;
    margin-right: 10px;
    height: 22px;
    line-height: 22px;
    padding:0 10px;
}
.custom-row .title-time-box input{
    border:none;
}
.custom-row .days{
    float:right;
    width: 303px;
    margin-top: 10px;
    background-color: #c2c2c2;
    margin-right: 30px;
}
.custom-row .days li{
    width: 100px;
    float: left;
    height: 22px;
    text-align: center;
    line-height: 22px;
    color: #fff;
    cursor: pointer;
}
.custom-row .days li.line{
    width: 1px;
    background-color: #fff;
}
.custom-row .days li.active{
    color: #2F4056;
    font-weight: bold;
}

.custom-table{
    margin:0 20px 20px 20px;
}